<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-heading">
					<div class="card-title">Dados pessoais</div>
				</div>
				<div class="card-body">
					<form name="form" novalidate="" ng-submit="submitForm()" class="form-validate">
						<div class="row">
							<div class="col-md-12">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="name" required="" ng-model="name" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Nome</label>
									</div>
									<!-- <div ng-messages="form.name.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="number" name="age" required="" ng-model="age" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Idade</label>
									</div>
									<!-- <div ng-messages="form.age.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="age" required="" ng-model="birth" class="form-control" ui-mask="99/99/9999"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Data de nascimento</label>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="rg" required="" ng-model="rg" class="form-control" ui-mask="AA-99.999.999"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">RG</label>
									</div>
									<!-- <div ng-messages="form.rg.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<select class="form-control" ng-options="plan as plan.name for plan in plans" ng-model="plan"></select>
                                        <div class="mda-form-control-line"></div>
                                        <label>Plano de saúde</label>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="cardId" required="" ng-model="cardId" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Número da carteirinha</label>
									</div>
									<!-- <div ng-messages="form.cardId.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="weight" required="" ng-model="weight" class="form-control" ng-currency/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Peso</label>
									</div>
									<!-- <div ng-messages="form.weight.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="profession" required="" ng-model="profession" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Profissão</label>
									</div>
									<!-- <div ng-messages="form.profession.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="indication" required="" ng-model="indication" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Indicação</label>
									</div>
									<!-- <div ng-messages="form.indication.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="height" required="" ng-model="height" class="form-control" ng-currency/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Altura</label>
									</div>
									<!-- <div ng-messages="form.height.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-6">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="address" required="" ng-model="address" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Endereço</label>
									</div>
									<!-- <div ng-messages="form.address.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-3">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="phone" required="" ng-model="phone" class="form-control" ui-mask="(99) ?99999-9999"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Telefone</label>
									</div>
									<!-- <div ng-messages="form.phone.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-3">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="bloodType" required="" ng-model="bloodType" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Tipo sanguíneo</label>
									</div>
									<!-- <div ng-messages="form.bloodType.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-12 text-right">
								<button type="submit" class="btn btn-flat btn-info ripple" ng-disabled="loading">
				                    <span ng-show="loading">salvando</span>
				                    <span ng-hide="loading">salvar</span>
				                </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card">
				<div class="card-heading">
					<div class="card-title">Observações</div>
				</div>
				<div class="card-body">
					<form name="observationForm" novalidate="" ng-submit="submitObservation()" class="form-validate">
						<div class="row">
							<div class="col-md-12">
								<div class="mda-form-group">
									<div class="mda-form-control">
										<input type="text" name="newObsText" required="" ng-model="newObsText" class="form-control"/>
										<div class="mda-form-control-line"></div>
										<label class="control-label">Nova observação</label>
									</div>
									<!-- <div ng-messages="form.newObsText.$error" class="text-danger">
										<span ng-message="required" ng-if="form.$submitted">Este campo é obrigatório</span>
									</div> -->
								</div>
							</div>
							<div class="col-md-12 text-right">
								<button type="submit" class="btn btn-flat btn-info ripple" ng-disabled="obsLoading">
				                    <span ng-show="obsLoading">adicionando</span>
				                    <span ng-hide="obsLoading">adicionar</span>
				                </button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body no-padding">
					<div class="table-responsive">
						<table ng-table="tableParams">
							<tbody>
								<tr ng-repeat="item in $data">
									<td data-title="'Observação'" sortable="'text'" nowrap>{{item.text}}</td>
									<td data-title="'Remover'" class="actions-col">
	                                    <!-- <a ng-click="removeObs(item.id)" class="action-icon"><i class="ion-ios-trash"></i></a> -->
	                                    <button type="button" class="btn btn-danger ripple">EXCLUIR</button>
	                                </td>
								</tr>
								<!-- <tr ng-show="!filteredDrivers || filteredDrivers.length == 0">
									<td class="no-registers" colspan="38">
										<span>Sem registros</span>
									</td>
								</tr> -->
								<tr ng-show="!observations || observations.length == 0">
									<td class="no-registers" colspan="3">
										<span>Sem registros</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="table-footer">
							<span class="footer-numbers">
								{{(tableParams.page()-1)*tableParams.parameters().count + 1}}-<span ng-show="tableParams.page() >= tableParams.total()/tableParams.parameters().count">{{tableParams.total()}}</span><span ng-hide="tableParams.page() >= tableParams.total()/tableParams.parameters().count">{{tableParams.page()*tableParams.parameters().count}}</span> of {{tableParams.total()}}
							</span>
							<div class="footer-buttons">
								<a ng-disabled="tableParams.page() <= 1" ng-click="tableParams.page(tableParams.page()-1)">
									<i class="ion-ios-arrow-left"></i>
								</a>
								<a ng-disabled="tableParams.page() >= tableParams.total()/tableParams.parameters().count" ng-click="tableParams.page(tableParams.page()+1)">
									<i class="ion-ios-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-heading">
					<span class="card-title">Consultas</span>
					<button type="button" class="btn btn-flat btn-info pull-right" ng-click="addConsultation()">Adicionar</button>
				</div>
				<div class="card-body">
					<uib-accordion close-others="true">
						<div ng-repeat="consult in consults" uib-accordion-group="uib-accordion-group" is-open="false" class="b0 panel-default">
							<uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>{{consult.date | date:"dd/MM/yyyy"}}</span></uib-accordion-heading>
							<p>{{consult.description}}</p>
						</div>
					</uib-accordion>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'app/templates/addConsultation.html'"></ng-include>