<div class="container-full page-login" ng-controller="RecoverCtrl">
  <div ng-init="rec.mailSent = false" class="container container-xs">
    <div ng-if="rec.mailSent" class="card b0 bg-success ng-fadeIn">
      <div class="card-heading">
          <div>
              <img src="assets/login-logo-universobpro.svg" class="login-logo"/>
          </div>
          <span class="login-label">
              SALÃO
          </span>
      </div>
      <div class="card-body"><em class="ion-checkmark-round pull-right icon-lg"></em>
          <h4 class="mt0">Email enviado!</h4>
        <p>Verifique sua caixa de entrada e siga as instruções para redefinir sua senha</p>
      </div>
      <div class="card-footer text-right"><a ui-sref="user.login" class="btn btn-success btn-flat text-white">Login<em class="ion-ios-arrow-thin-right icon-fw"></em></a></div>
    </div>
    <form name="loginForm" novalidate="" ng-submit="changePassword(account.password)" ng-if="!rec.mailSent" class="card b0 form-validate">
      <div class="card-heading">
          <div>
              <img src="assets/login-logo-universobpro.svg" class="login-logo"/>
          </div>
          <span class="login-label">
              SALÃO
          </span>
      </div>
      <!-- <div class="card-offset pb0">
        <div ng-if="loginForm.$valid" class="card-offset-item text-right ng-fadeInLeftShort">
          <button type="submit" class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></button>
        </div>
      </div> -->
      <div class="card-body">
          <p class="text-center text-inherit">Digite sua nova senha:</p>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input type="password" name="password" ng-model="account.password" required="" class="form-control"/>
            <div class="mda-form-control-line"></div>
            <label>Digite a senha</label>
          </div>
          <div ng-messages="loginForm.password.$error" class="text-danger"><span ng-message="email">Digite um e-mail válido</span></div><span class="mda-input-group-addon"><img src="assets/login-ic-password.svg" class="icon-lg login_ic_password"/></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input type="password" name="confirmpassword" matchpassword="account.password" ng-model="account.confirmpassword" required="" class="form-control"/>
            <div class="mda-form-control-line"></div>
            <label>Repita sua nova senha</label>
          </div>
          <div ng-messages="loginForm.confirmpassword.$error" class="text-danger">
              <span ng-message="email">Digite um e-mail válido</span>
              <span ng-message="match">As senhas devem ser iguais</span>
          </div><span class="mda-input-group-addon"><img src="assets/login-ic-password.svg" class="icon-lg login_ic_password"/></span>
        </div>
        <div class="form-group buttons-group">
            <button type="submit" ng-disabled="loginForm.$invalid || loginForm.$pristine" class="btn btn-primary">ALTERAR SENHA</button>
        </div>
      </div>
    </form>
  </div>
  <span class="bottom-sentence">Universo da beleza na sua mão</span>
</div>
