<div class="container-full page-login welcome" ng-controller="WelcomeCtrl">
    <div class="welcome-header">
        <img src="assets/login-logo-universobpro.svg"></img><br>
        <span>SALÃO</span>
    </div>
    <div class="welcome-body row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div>
                <span class="title">Bem vindo!</span>
                <span class="message">Vamos configurar seu salão e usar as facilidades do UniversoB.</span>
            </div>
        </div>
        <div class="buttons-div col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div>
                <a href="#/app/panel" class="btn btn-oval btn-default-white ripple btn-lg">Agora não</a>
                <a href="#/config/navigator" class="btn btn-oval btn-primary ripple btn-lg float-right">Vamos lá!</a>
            </div>
        </div>
    </div>
</div>
